.App {
  text-align: center;
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "grid-row"
                       "content"
                       "grid-row";
}

.content {
  vertical-align: middle;
}

h1 {
  font-size: 40px;
}

.app-text {
  padding-top: 20px;
  font-size: large;
  line-height: 2;
}

::selection {
  background-color: limegreen;
}